@nilmod {
	name: "221E";
	description: "A proof of concept dynamic code assembly engine.";
	authors: "SilverAndro";
	version: "${version}";
}

entrypoints {
	premain: "io.github.silverandro._221e.nil._221EMain";
}
